html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
 }

span{
    text-decoration: underline;
    color: red;
}

sup{
    color:red
}

textarea{
    resize: vertical;
}

h1{
    text-align: center;
}

input[placeholder]{
    font-style: italic;
}

button{
    margin-left: 0;
    padding-left: 0;
    width: 50%;
    background: lightseagreen;
    position: relative;
    margin-right: 53%;
    color: white;
    border-radius: 5px;
    border: 1px solid lightblue;
}


.container{

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{

    width: 70%;
    /*background: lightblue;*/
}

input[name="chose"], textarea[name="chose"], select[name="chose"] {
    position: relative;
    margin-left: 1%;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 70%;
    min-width: 300px;
    max-width: 80%;
    border: 1px solid blue;
}


fieldset {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 15px;
    width: 70%;
    min-width: 300px;
    max-width: 80%;
    border: 1px solid blue;
}

.box1 {
    margin-left: 1%;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 70%;
    min-width: 300px;
    max-width: 80%;
}

.box {
    display: flex;
    justify-content: flex-end;
}




/*::-webkit-datetime-edit { padding: 1em; }*/
/*::-webkit-datetime-edit-fields-wrapper { background: silver; }*/
/*::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }*/
/*::-webkit-datetime-edit-month-field { color: blue; }*/
/*::-webkit-datetime-edit-day-field { color: green; }*/
/*::-webkit-datetime-edit-year-field { color: purple; }*/


[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
     background: transparent;
     position: relative;
     color: transparent;
     left: 18px;
     padding: 5px;
}





[required] ~ label:after {
    content: "*";
    color: red;
}

input, select, textarea{
    order: 2;
}

label{
    order: 1;
}


input[type="date"]:after{
    content: url("path.svg");
  }


#agreement{
    margin-left: -1px;
}

@media screen and (max-width:550px) {

    #agreement{
        margin-left: -8px;
    }

    .box {
        display: grid;
        width: 100%;
        padding-left: 5%;
    }

    .box label {
        padding-left: 1%;
    }


    input[name="chose"], textarea[name="chose"], select[name="chose"] {
        width: 90%;
        min-width: 320px;
        max-width: 600px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }



    .box1 {
        width: 90%;
        min-width: 320px;
        max-width: 600px;
        box-sizing: border-box;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: static;
        padding-left: 3%;
    }


    fieldset {
        position: relative;
        box-sizing: border-box;
        width: 90%;
        min-width: 320px;
        max-width: 600px;
        margin-bottom: 15px;
    }


}




